---

hadoop:
  version: '2.10.1'

hbase:
  version: '2.4.6'

yarn:
  
  # per-container quota
  quota:
    memory: 2048
    vcpus: 2
  
  # per-node quota
  resources:
    memory: 8192
    vcpus: 8
  
mapreduce:

  # per-task resources
  quota:
    mapper:
      memory: 1024
    reducer:
      memory: 1024 
